In [1]:
import time
import json
import numpy as np
import demjson
import pandas as pd
import urllib

In [2]:
# load data
data_path = "unique_inventor.csv"
unique_inventors = pd.read_csv(data_path)

In [3]:
unique_inventors.head()

  inventor_first_name inventor_last_name inventor_country inventor_id
0                Atul            Purohit               AE   5891620-2
1                Ivan               Boyd               AE   4864621-1
2                Petr            Kubanek               AE   7741522-7
3               Barry             Potter               AE   5604215-2
4               Bruno         Schuermans               AE   6981358-4

In [13]:
unique_inventors.shape

(339453, 4)

In [4]:
# data clean, only for first_name
unique_names = []
names = set()
for i in range(unique_inventors.shape[0]):
    name = str(unique_inventors.loc[i, 'inventor_first_name']).split()[0]
    name = name.split('.')[0]
    if not name.isalpha() or name in names or len(name) <= 1:
        continue
    else:
        names.add(name)
        unique_names.append([name,unique_inventors.loc[i, 'inventor_country'], unique_inventors.loc[i, 'inventor_id']])

In [6]:
unique = np.array(unique_names)

In [9]:
clean_names = pd.DataFrame(unique,columns=['inventor_first_name','inventor_country', 'inventor_id'])

In [11]:
clean_names.shape

(22696, 3)

In [14]:
# save to new csv file
clean_names.to_csv("clean_unique_names.csv")