In [1]:
import json
import numpy as np
import demjson
import pandas as pd
import urllib
from ipykernel import kernelapp as app

In [8]:
# load data
data_path = "cleaned_us_AI-csv.csv"
unique_inventors = pd.read_csv(data_path)
query_eth_json_base = 'http://www.name-prism.com/api_eth/json/'

In [9]:
unique_inventors.head()

,application_number,filing_date,uspc_class,cpc4,inventor_name_first,inventor_name_middle,inventor_name_last,inventor_rank,inventor_region_code,inventor_country_code
0,12119172,2008-05-12,706,G06N,daniel,m,rice,1,NaN,US
1,14205300,2014-03-11,706,G06N,stephen,NaN,lucey,4,NaN,US
2,12799041,2010-04-16,706,G10L,thomas,d,humphrey,1,AK,US
3,13251051,2011-09-30,706,G05B,john,weldon,kelley,2,AK,US
4,13251051,2011-09-30,706,G05B,michael,d,scott,5,AK,US

In [15]:
unique_inventors.shape

(21160, 17)

In [ ]:
# insert new colomns first
ethnicities = ['White', '2PRACE', 'Hispanic', 'Black', 'API', 'AIAN']
i = 10
for eth in ethnicities:
    new_col = pd.Series([0]*unique_inventors.shape[0])
    unique_inventors.insert(i, eth, new_col)
    i += 1

In [12]:
unique_inventors.head()

,application_number,filing_date,uspc_class,cpc4,inventor_name_first,inventor_name_middle,inventor_name_last,inventor_rank,inventor_region_code,inventor_country_code,White,2PRACE,Hispanic,Black,API,AIAN
0,12119172,2008-05-12,706,G06N,daniel,m,rice,1,NaN,US,0,0,0,0,0,0
1,14205300,2014-03-11,706,G06N,stephen,NaN,lucey,4,NaN,US,0,0,0,0,0,0
2,12799041,2010-04-16,706,G10L,thomas,d,humphrey,1,AK,US,0,0,0,0,0,0
3,13251051,2011-09-30,706,G05B,john,weldon,kelley,2,AK,US,0,0,0,0,0,0
4,13251051,2011-09-30,706,G05B,michael,d,scott,5,AK,US,0,0,0,0,0,0

In [13]:
unique_inventors.shape

(21160, 16)

In [14]:
cnt = 0
for i in range(unique_inventors.shape[0]):
    cnt += 1
    if cnt%100 == 0:
        print(cnt)
    f_name = str(unique_inventors.loc[i, 'inventor_name_first'])
    m_name = str(unique_inventors.loc[i, 'inventor_name_middle'])
    l_name = str(unique_inventors.loc[i, 'inventor_name_last'])
    """
    if not f_name.isalpha():
        f_name = f_name.split()[0]
        f_name = f_name.split('.')[0]
        if not f_name or not f_name.isalpha() or len(f_name) <= 1:
            unique_inventors.loc[i, 'valid'] = 'N'
            continue
    if not l_name.isalpha():
        l_name = l_name.split()[0]
        l_name = l_name.split('.')[0]
        if not l_name or not l_name.isalpha() or len(l_name) <= 1:
            unique_inventors.loc[i, 'valid'] = 'N'
            continue
    """
    # check the length of first name and middle name
    if len(f_name) < 2 and len(m_name) < 2:
        unique_inventors.loc[i, 'valid'] = 'N'
        continue
    if len(f_name) < 2:
        name = m_name + ' ' + l_name
    else:
        name = f_name + ' ' + l_name
    percent_code = urllib.request.quote(name)
    url = query_eth_json_base + percent_code
    
    try:
        response = urllib.request.urlopen(url).read()
    except:
        print(i, url)
    else:
        response = response.decode("utf-8") 
        result = json.loads(response)
        for eth in result:
            unique_inventors.loc[i, eth] = result[eth]

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900
10000
10100
10200
10300
10400
10500
10600
10700
10800
10900
11000
11100
11200
11300
11400
11500
11600
11700
11800
11900
12000
12100
12200
12300
12400
12500
12600
12700
12800
12900
13000
13100
13200
13300
13400
13500
13600
13700
13800
13900
14000
14100
14200
14300
14400
14500
14600
14700
14800
14900
15000
15100
15200
15300
15400
15500
15600
15700
15800
15900
16000
16100
16200
16300
16400
16500
16600
16700
16800
16900
17000
17100
17200
17300
17400
17500
17600
17700
17800
17900
18000
18100
18200
18300
18400
18500
18600
18700
18800
18900
19000
19100
19200
19300
19400
19500
19600
19700
19800
19900
20000
20100
20200
20300
20400
20500
20600
20700
20800
20900
21000
21100

In [16]:
unique_inventors.head()

,application_number,filing_date,uspc_class,cpc4,inventor_name_first,inventor_name_middle,inventor_name_last,inventor_rank,inventor_region_code,inventor_country_code,White,2PRACE,Hispanic,Black,API,AIAN,valid
0,12119172,2008-05-12,706,G06N,daniel,m,rice,1,NaN,US,0.941964,0.000560,0.008913,0.044882,0.002222,0.001459,NaN
1,14205300,2014-03-11,706,G06N,stephen,NaN,lucey,4,NaN,US,0.992157,0.000449,0.001754,0.002821,0.002162,0.000658,NaN
2,12799041,2010-04-16,706,G10L,thomas,d,humphrey,1,AK,US,0.936659,0.000458,0.001736,0.058553,0.001241,0.001352,NaN
3,13251051,2011-09-30,706,G05B,john,weldon,kelley,2,AK,US,0.967221,0.000464,0.002497,0.026462,0.002082,0.001274,NaN
4,13251051,2011-09-30,706,G05B,michael,d,scott,5,AK,US,0.886684,0.000692,0.004306,0.103673,0.001883,0.002763,NaN

In [17]:
unique_inventors.to_csv("cleaned_us_AI_ethnicity.csv")