In [1]:
import time
import json
import numpy as np
import demjson
import pandas as pd
import urllib
from ipykernel import kernelapp as app

In [2]:
# load data
data_path = "cleaned_us_AI-csv.csv"
unique_inventors = pd.read_csv(data_path)
query_eth_json_base = 'https://api.genderize.io/?'
api_key = '8ee87528e6948e9bf1304ff1c44d4600'

In [3]:
unique_inventors.head()

,application_number,filing_date,uspc_class,cpc4,inventor_name_first,inventor_name_middle,inventor_name_last,inventor_rank,inventor_region_code,inventor_country_code
0,12119172,2008-05-12,706,G06N,daniel,m,rice,1,NaN,US
1,14205300,2014-03-11,706,G06N,stephen,NaN,lucey,4,NaN,US
2,12799041,2010-04-16,706,G10L,thomas,d,humphrey,1,AK,US
3,13251051,2011-09-30,706,G05B,john,weldon,kelley,2,AK,US
4,13251051,2011-09-30,706,G05B,michael,d,scott,5,AK,US

In [5]:
unique_inventors.shape

(21160, 10)

# data clean
unique_names = []
names = set()
for i in range(unique_inventors.shape[0]):
    name = str(unique_inventors.loc[i, 'inventor_first_name']).split()[0]
    name = name.split('.')[0]
    if not name.isalpha() or name in names or len(name) <= 1:
        continue
    else:
        names.add(name)
        unique_names.append(name)

unique = np.array(unique_names)
unique = unique.reshape(len(unique_names), 1)

clean_names = pd.DataFrame(unique,columns=['inventor_first_name'])

In [7]:
# insert new colomns first
genders = ['gender', 'probability', 'count']
i = 10
for gen in genders:
    new_col = pd.Series([0]*unique_inventors.shape[0])
    unique_inventors.insert(i, gen, new_col)
    i += 1

In [9]:
unique_inventors.head()

,application_number,filing_date,uspc_class,cpc4,inventor_name_first,inventor_name_middle,inventor_name_last,inventor_rank,inventor_region_code,inventor_country_code,gender,probability,count
0,12119172,2008-05-12,706,G06N,daniel,m,rice,1,NaN,US,0,0,0
1,14205300,2014-03-11,706,G06N,stephen,NaN,lucey,4,NaN,US,0,0,0
2,12799041,2010-04-16,706,G10L,thomas,d,humphrey,1,AK,US,0,0,0
3,13251051,2011-09-30,706,G05B,john,weldon,kelley,2,AK,US,0,0,0
4,13251051,2011-09-30,706,G05B,michael,d,scott,5,AK,US,0,0,0

In [10]:
# query for gender
cnt = 0
for i in range(unique_inventors.shape[0]):
    cnt += 1
    if cnt%100 == 0:
        print(cnt)
    f_name = str(unique_inventors.loc[i, 'inventor_name_first'])
    m_name = str(unique_inventors.loc[i, 'inventor_name_middle'])
    #country = unique_inventors.loc[i, 'inventor_country']
    if len(f_name) < 2 and len(m_name) < 2:
        unique_inventors.loc[i, 'valid'] = 'N'
        continue
    if len(f_name) < 2:
        name = m_name
    else:
        name = f_name
    
    name = urllib.request.quote(name)
    url = query_eth_json_base + 'name=' + name + '&'
    url += 'apikey=' + api_key
    try:
        response = urllib.request.urlopen(url).read()
    except:
        print(i, url)
        unique_inventors.loc[i, 'valid'] = 'N'
    else:
        response = response.decode("utf-8") 
        result = json.loads(response)
        for eth in result:
            unique_inventors.loc[i, eth] = result[eth]

100
200
300
400
500
600
700
800
900
1000
1100
1146 https://api.genderize.io/?name=john&apikey=8ee87528e6948e9bf1304ff1c44d4600
1200
1300
1400
1408 https://api.genderize.io/?name=robert&apikey=8ee87528e6948e9bf1304ff1c44d4600
1500
1600
1700
1800
1900
2000
2100
2200
2213 https://api.genderize.io/?name=anugeetha&apikey=8ee87528e6948e9bf1304ff1c44d4600
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5359 https://api.genderize.io/?name=eric&apikey=8ee87528e6948e9bf1304ff1c44d4600
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7684 https://api.genderize.io/?name=rony&apikey=8ee87528e6948e9bf1304ff1c44d4600
7700
7800
7900
8000
8100
8200
8300
8342 https://api.genderize.io/?name=eric&apikey=8ee87528e6948e9bf1304ff1c44d4600
8400
8500
8600
8700
8800
8900
9000
9088 https://api.genderize.io/?name=evangelos&apikey=8ee87528e6948e9bf1304ff1c44d4600
9100
9200
9300
9400
9500
9600
9700
9800
9900
10000
10100
10200
10300
10400
10500
10600
10700
10800
10900
11000
11100
11200
11300
11400
11500
11600
11700
11800
11900
12000
12100
12200
12300
12400
12500
12600
12691 https://api.genderize.io/?name=malgorzata&apikey=8ee87528e6948e9bf1304ff1c44d4600
12700
12800
12900
13000
13100
13200
13275 https://api.genderize.io/?name=john&apikey=8ee87528e6948e9bf1304ff1c44d4600
13300
13400
13500
13526 https://api.genderize.io/?name=maryam&apikey=8ee87528e6948e9bf1304ff1c44d4600
13600
13700
13800
13900
14000
14100
14200
14300
14400
14500
14600
14700
14800
14900
15000
15025 https://api.genderize.io/?name=george&apikey=8ee87528e6948e9bf1304ff1c44d4600
15100
15190 https://api.genderize.io/?name=ping&apikey=8ee87528e6948e9bf1304ff1c44d4600
15200
15300
15400
15500
15600
15700
15800
15900
16000
16100
16200
16300
16400
16500
16600
16700
16800
16900
17000
17100
17200
17300
17400
17500
17600
17700
17800
17827 https://api.genderize.io/?name=wuchon&apikey=8ee87528e6948e9bf1304ff1c44d4600
17900
18000
18100
18200
18300
18400
18457 https://api.genderize.io/?name=victor&apikey=8ee87528e6948e9bf1304ff1c44d4600
18500
18600
18700
18800
18900
19000
19100
19200
19300
19400
19500
19600
19700
19800
19900
20000
20100
20200
20300
20400
20500
20600
20700
20800
20900
21000
21100

In [12]:
unique_inventors.to_csv("cleaned_us_AI_gender.csv")